* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    min-height: 100%;
    @include flex-column;

    header {
        @include box ($third-color, 25px, $second-color, center, 100%);
        background: $background-gradient;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;

        .head {
            h1 {
                font-family: "Roboto", serif;
                margin-bottom: 20px;
                color: rgb(255, 255, 255);
                text-shadow: 1px 0px 2px black;
                font-weight: 900;
                font-style: normal;
                font-size: 30px;
            }

        }

        .search {
            input {
                padding: 10px;
                border-radius: 10px 0px 0px 10px;
            }

            button {
                background-color: rgb(62, 151, 233);
                padding: 10px;
                color: white;
                border-radius: 0px 12px 12px 0px;
                font-family: $font-family-first;
            }

            div {
                @include flex-column;

                * {
                    display: block;
                    width: 50%;
                    height: 25px;
                }

            }
        }
    }
}