$first-color: #e96e50;
$second-color: #48484a;
$third-color: #f2f2f2;
$main-font: "Montserrat", sans-serif;
$layout-breakpoint_medium: 768px;
$layout-breakpoint-large: 992px;
$background-gradient: linear-gradient(90deg, #05159E 0%, #84D3FF 50%, #D7FDFF 100%);
$font-family-first: "Roboto", serif;