@import 'nullstyles.css';
body {
  background: linear-gradient(90deg, #05159E 0%, #84D3FF 50%, #D7FDFF 100%);
}
body main {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0%, rgba(5, 21, 158, 0.2) 100%);
  padding: 50px;
}
body main .weather {
  line-height: 1.7;
}
body main .weather .city_name {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  body main .weather .all_weather_values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  body main .weather .all_weather_values p {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  body main .weather .all_weather_values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  body main .weather .all_weather_values p {
    width: 30%;
  }
}
body main .weather .temp_info .temp {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: white;
}
body main .weather .description {
  font-family: "Inter", sans-serif;
  font-weight: medium;
  font-size: 16px;
  color: white;
}
body main .weather .all_weather_values {
  font-family: "Inter", sans-serif;
  font-weight: medium;
  font-size: 16px;
  color: white;
}
body main .pollution .polluton_info .v {
  margin: 15px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body header {
  background-color: #f2f2f2;
  padding: 25px;
  color: #48484a;
  text-align: center;
  width: 100%;
  background: linear-gradient(90deg, #05159E 0%, #84D3FF 50%, #D7FDFF 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}
body header .head h1 {
  font-family: "Roboto", serif;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 0px 2px black;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
}
body header .search input {
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}
body header .search button {
  background-color: rgb(62, 151, 233);
  padding: 10px;
  color: white;
  border-radius: 0px 12px 12px 0px;
  font-family: "Roboto", serif;
}
body header .search div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body header .search div * {
  display: block;
  width: 50%;
  height: 25px;
}

footer {
  background-color: #48484a;
  padding: 20px;
  color: #f2f2f2;
  text-align: center;
  width: 100%;
}
footer p {
  font-size: 20px;
}
footer p span {
  color: #e96e50;
  font-weight: bold;
}

/*.body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;

    .head {
        background-image: url(../img/autumn.jpg);
        height: 318.5px;
        background-size: cover;
        background-position: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 50px 0px;

        h1 {
            font-weight: 500;
            font-style: normal;
            font-size: 2.5em;
            color: #EB6E4B;
            text-shadow: 2px 2px 2px black;
        }
    }

    .search {
        display: flex;
        justify-content: center;

        button {
            padding: 15px;
            border-radius: 0 15px 15px 0;
            background-color: rgb(40, 39, 39);
            color: white;
            font-weight: 500;

            &:hover {
                background-color: black;
                transition: background-color 0.3s ease, transform 0.3s ease;
                transform: scale(1.005);
                color: rgb(230, 224, 224);
            }
        }

        input {
            border: 1px solid black;
            padding: 15px;
            border-radius: 15px 0 0 15px;
            margin-right: 0px;
            font-weight: 500;
        }
    }

    main {
        flex: 1;
        height: 900px;
        width: 662px;
        padding: 50px 50px;


        .weather {
            .weather_info {
                .description {
                    background-color: #eb6e4b;
                    color: #ffff;
                    padding: 10px 20px;
                    border-radius: 10px;
                }
            }

            p {
                color: red;
            }
        }

        p {
            padding-bottom: 10px;
            font-weight: 500px;
            font-size: 1.2em;
        }

        .pollution {
            .polluton_info {
                .pollution_img {
                    background-color: orange;
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background-color: rgb(40, 39, 39);
        padding: 50px 0px;
        color: white;
    }
}*//*# sourceMappingURL=style.css.map */